# Python cache files
__pycache__/

# PyCharm files
.idea/

# Output files from chapter 3
chapter03/blogclust.jpg
chapter03/clusters.jpg
chapter03/wordclust.jpg
chapter03/blogdata_out.txt

# Output files from chapter 4
chapter04/nn.db
chapter04/searchindex.db

# Output files from chapter 7
chapter07/treeview.jpg
chapter07/housetree.jpg
chapter07/*.pyc
